.tile {
    padding: 5px;
    box-sizing: border-box;
}

.tile:hover > .tile__content {
    box-shadow: 0 0 8px 0 #7F7F7F;
}

.tile__title {
    font-weight: normal;
}

.tile__tagline {
    font-weight: 100;
    font-size: 14px;
    flex-grow: 1;

}

.tile__header {
    height: 100px;
    margin-bottom: 5px;
    text-align: center;
}

.tile__content {
    height: 100px;
    background: #7F7F7F;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-flow: column;
}

.tile__title {
    margin: 0;
}

.tile__button {
    text-transform: uppercase;
    text-decoration: none;
}

.tile__button:hover {
    cursor: pointer;
}

.tile__link {}

.tile__button:hover > .tile__link {
    text-decoration: underline;
}