body {
    font-family: "Lato", sans-serif;
    background-color: white;
}
.app {
    overflow: hidden;
}

.btn-app {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.btn-app:hover {
    cursor: pointer;
}