.catalog__search {
    margin: 70px auto 40px;
}

.catalog__pagination {
    margin: 50px auto;
}

.pagination {
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;

    justify-content: center;
}

.pagination__item:first-child {
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
}

.pagination__item:last-child {
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
}

.pagination__item {
    padding: 10px;

    color: #ffffff;
    background: #106cc8;
}

.pagination__item--active {
    text-decoration: underline;
}