.search {
    text-align: center;
}

.search__advanced {
    display: block;
}

.disabled {
    display: none;
}

.search__field {
    outline: none;
    border: none;
    font-size: 19px;
    border-bottom: 1px solid #EDEDED;
}

.search__icon {
    color: #828282;
    margin-left: 5px;
    font-size: 24px;
}

.search__basic {
    display: flex;
    justify-content: center;
}

.search__slider {
    display: flex;
    justify-content: space-around;
}