input[type=range]:focus {
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
    width: 90%;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;

    border: none;
    background: #c2c0c2;
}

input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    margin: -5px 0 0 0;

    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
    transform-origin: 50% 50%;

    border: none;
    border-radius: 50%;
    background-color: #106cc8;

    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cccccc;
}

input[type=range] {
    border: 1px solid white;
}

input[type=range]::-moz-range-track {
    height: 3px;

    border: none;
    background: #dddddd;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    margin-top: -5px;

    border: none;
    border-radius: 50%;
    background: #106cc8;
}

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #cccccc;
}

input[type=range]::-ms-track {
    height: 3px;

    color: transparent;
    border-width: 6px 0;
    border-color: transparent;
    background: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777777;
}

input[type=range]::-ms-fill-upper {
    background: #dddddd;
}

input[type=range]::-ms-thumb {
    width: 14px;
    height: 14px;

    border: none;
    border-radius: 50%;
    background: #106cc8;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #cccccc;
}