input[type=range] {
    width: 80%;
    margin: 10px 0;

    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 5px;

    cursor: pointer;

    border: 1px solid #010101;
    border-radius: 5px;
    background: #ededed;
    box-shadow: 0 0 1px #000000;

    animate: 0.2s;
}
input[type=range]::-webkit-slider-thumb {
    width: 15px;
    height: 20px;
    margin-top: -11px;

    cursor: pointer;

    border: 1px solid #00001e;
    border-radius: 5px;
    background: #6b6b6b;
    box-shadow: 1px 1px 1px #000031;

    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ededed;
}
input[type=range]::-moz-range-track {
    width: 80%;
    height: 5px;

    cursor: pointer;

    border: 1px solid #010101;
    border-radius: 5px;
    background: #ededed;
    box-shadow: 0 0 1px #000000;

    animate: 0.2s;
}
input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 20px;

    cursor: pointer;

    border: 1px solid #00001e;
    border-radius: 5px;
    background: #6b6b6b;
    box-shadow: 1px 1px 1px #000031;
}
input[type=range]::-ms-track {
    width: 80%;
    height: 5px;

    cursor: pointer;

    color: transparent;
    border-color: transparent;
    background: transparent;

    animate: 0.2s;
}
input[type=range]::-ms-fill-lower {
    border: 1px solid #010101;
    border-radius: 10px;
    background: #ededed;
    box-shadow: 0 0 1px #000000;
}
input[type=range]::-ms-fill-upper {
    border: 1px solid #010101;
    border-radius: 10px;
    background: #ededed;
    box-shadow: 0 0 1px #000000;
}
input[type=range]::-ms-thumb {
    width: 15px;
    height: 20px;
    margin-top: 1px;

    cursor: pointer;

    border: 1px solid #00001e;
    border-radius: 5px;
    background: #6b6b6b;
    box-shadow: 1px 1px 1px #000031;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ededed;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ededed;
}